<mat-accordion>
  <mat-expansion-panel (opened)="panelOpenState = true"
                       (closed)="panelOpenState = false">
    <mat-expansion-panel-header>
      <mat-panel-title>
        Posts
      </mat-panel-title>

    </mat-expansion-panel-header>
    <div class="posts-content">
      <div *ngFor="let post of posts" >
        <mat-card>
            <div class="row">
              <div class="col-11">
                <mat-card-subtitle>{{post.title}}</mat-card-subtitle>
              </div>
              <div class="col-1">
                <mat-icon class="mat-icon-red" (click)="deletePost.emit(post.id)">delete</mat-icon>
              </div>
            </div>
          <mat-card-content>
            <div class="post-body">
              {{post.body}}
            </div>

          </mat-card-content>
        </mat-card>
        <mat-divider></mat-divider>
      </div>
    </div>


  </mat-expansion-panel>
</mat-accordion>
