<div class="modal" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h2 class="modal-title">{{data.user.first_name}}</h2>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click) ="onClose()"></button>
      </div>
      <form [formGroup]="form" (ngSubmit)="submited()">
        <div class="modal-body container">
          <div class=" row col-12 ">
            <div class="col-6">
              <img [src]="form.get('avatar').value">
            </div>
            <div class="col-6">
              <div class="col-6">
                <mat-form-field class="example-full-width" appearance="fill">
                  <mat-label>First Name</mat-label>
                  <input type="text" matInput formControlName="first_name">

                </mat-form-field>
              </div>
              <div class="col-6 ">
                <mat-form-field class="example-full-width" appearance="fill">
                  <mat-label>Last Name</mat-label>
                  <input type="text" matInput formControlName="last_name">

                </mat-form-field>
              </div>

              <div class="col-6">
                <mat-form-field class="example-full-width" appearance="fill">
                  <mat-label>Email</mat-label>
                  <input type="email" matInput formControlName="email" [disabled]="true">

                </mat-form-field>
              </div>
            </div>
          </div>

        </div>
        <mat-divider></mat-divider>
        <app-users-posts [posts]="data.posts" (deletePost)="deletePost($event)"></app-users-posts>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" (click) ="onClose()">Close</button>
          <button type="submit" class="btn btn-primary" [disabled]="!form.valid">Save changes</button>
        </div>
      </form>

    </div>
  </div>
</div>
