img {
  margin-left: 32px;
}
.container-menu {
  display: block;
  height: 70px;
  width: 100%;
}
.application-link {
  position: absolute;
  width: 200px;
  margin-top: 18px;
  margin-left: 426px;
}
.bg-menu-color {
  -webkit-tap-highlight-color: transparent;
  background: #ffffff;
}
