<div class="bg-menu-color fixed-top">
  <div class="container-menu">
    <nav class="navbar navbar-expand navbar-dark flex-column flex-md-row bd-navbar">

          <!-- <div >
            <img style="cursor: pointer;" (click)="toggleNavbar.emit()" src=" ../../assets/img/cerrar.svg " />
            <img *ngIf="configuration$ | async as logoUrl; else companyLogo" [src]="logoUrl" class="img-fluid mh-100"
              alt="Company Logo" />
              <ng-template #companyLogo>
                <ng-container [ngTemplateOutlet]="logoTemplate || defaultLogo"></ng-container>
              </ng-template>
              <ng-template #defaultLogo>
                <img src="../../assets/img/if-cdp.svg" class="img-fluid menu-bar__logo" alt="Company Logo" />
              </ng-template>
          </div> -->

          <div class="navbar-nav flex-row ml-md-auto d-none d-md-flex">
          </div>

          <div class="d-none d-lg-inline-block mb-3 mb-md-0 ml-md-3">
            <!-- <app-user-profile (logout)="logout.emit()"></app-user-profile> -->
          </div>

    </nav>

  </div>
</div>
