<div class="container">
  <ng-container *ngIf="responseUsers !== null">
    <table mat-table [dataSource]="responseUsers.data" class="mat-elevation-z8">

      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef> ID. </th>
        <td mat-cell *matCellDef="let element"> {{element.id}} </td>
      </ng-container>

      <ng-container matColumnDef="first_name">
        <th mat-header-cell *matHeaderCellDef> Name </th>
        <td mat-cell *matCellDef="let element"> {{element.first_name}} </td>
      </ng-container>

      <ng-container matColumnDef="last_name">
        <th mat-header-cell *matHeaderCellDef> LastName </th>
        <td mat-cell *matCellDef="let element"> {{element.last_name}} </td>
      </ng-container>

      <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef> LastName </th>
        <td mat-cell *matCellDef="let element"> {{element.email}} </td>
      </ng-container>


      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click) ="detail.emit(row.id)"></tr>
    </table>
    <mat-paginator #paginator [length]="responseUsers.total"
                   [pageSize]="responseUsers.per_page"
                   [pageSizeOptions]="[responseUsers.total]"
                   (page)="changePage.emit($event)"
                   aria-label="Select page">
    </mat-paginator>
    </ng-container>


</div>
