<ng-container  >
  <a
    mat-list-item
    style="padding-left: 18px;"
  >
    <mat-icon style="padding-left: 12px;" matListIcon class="listIcon">{{
      item.iconName
    }}</mat-icon>
    <span  style="padding-left: 10px;" class="textListItem">{{
      item.displayName
    }}</span>

  </a>
</ng-container>
