
<app-sidenav [opened]="opened" (openMenuEmitter)="onOpenMenu()">
  <app-toolbar (toggleNavbar)="onToggleNavbar()" >
  </app-toolbar>
  <div class="container-fluid">
    <router-outlet></router-outlet>
  </div>
</app-sidenav>
