<section class="vh-100" style="background-color: #508bfc;">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-12 col-md-8 col-lg-6 col-xl-5">
        <div class="card shadow-2-strong" style="border-radius: 1rem;">
          <div class="card-body p-5 text-center">
            <form [formGroup]="loginForm" (ngSubmit)="submited()">
              <h3 class="mb-5">Sign in</h3>


              <div class="form-outline mb-4">
                <input type="email" id="typeEmailX" class="form-control form-control-lg" formControlName="email" />
                <label class="form-label" for="typeEmailX">Email</label>
              </div>

              <div class="form-outline mb-4">
                <input type="password" id="typePasswordX" class="form-control form-control-lg" formControlName="password" />
                <label class="form-label" for="typePasswordX">Password</label>
              </div>
              <button class="btn btn-primary btn-lg btn-block" type="submit" [disabled]="!loginForm.valid">Login</button>
              <hr class="my-4">
            </form>

          </div>
        </div>
      </div>
    </div>
  </div>
</section>
