
<mat-drawer-container class="example-container">
  <mat-drawer #side mode="side" [opened]="opened">

    <div class="side-nav d-flex flex-column" [ngClass]="{ 'collapsed-side-nav': !opened }">
      <div class="side-nav-header">
        <div  class="b-brand">
          <div class="b-bg">
              <i class="feather icon-trending-up"></i>
          </div>
          <span class="b-title">UMVEL</span>
        </div>
      <div class="menu" id="mobile-collapse">
        <mat-icon style="padding-left: 12px;" matListIcon class="listIcon" (clik) ="toggleMenu()">{{
          'menu'
        }}</mat-icon>
      </div>
      </div>
      <div class="menu-items-container">
        <mat-nav-list [disableRipple]="true">
          <app-sidenav-item></app-sidenav-item>
        </mat-nav-list>
      </div>
    </div>
  </mat-drawer>
  <mat-drawer-content [ngClass]="{
    'opened-side-nav-content': opened,
    'closed-side-nav-content': !opened
  }"  >
    <ng-content></ng-content>
  </mat-drawer-content>
</mat-drawer-container>
