
@import "~bootstrap/scss/mixins";
@import 'src/app/styles/variab les.scss';
mat-drawer-content {
  margin-top: 8%;
  background: #F1F3F7;
  padding-bottom: 112px;
  padding-left: 16%;

}
@mixin menu-transition() {
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.collapsed-side-nav {
  @include menu-transition();
  width: $sidebar-width-collapsed;
}

.closed-side-nav-content {
  @include menu-transition();
  margin-left: $sidebar-width-collapsed !important;
}

.b-brand {
  display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;

}
.menu {
  display: -webkit-box;
    display: -ms-flexbox;
    color: white;
    cursor: pointer;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 37px;
    height: 70px;
    position: absolute;
    right: 10px;
    top: 0;
    padding: 0 10px;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.b-brand .b-title {
  margin-left: 10px;
  font-weight: 100;
  color: #fff;
  font-size: 18px;
}
mat-drawer-container {
  height: 100%;
  width: 100%;

}
.side-nav-header {

  position: relative;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  float: left;
  height: 70px;
  text-align: center;
  width: 264px;
  margin-right: 0;
  padding: 10px 20px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;

}

.side-nav {
  width: 16%;
  height: 100%;
  box-shadow: 3px 3px #a2bbea, -1em 0 3.4em;
  background-color:   #4E5C76;
  overflow-x: hidden;
  overflow-y: hidden;
  position: fixed;
}




.menu-items-container {
  color: gold;
  font-size: 12px;

}
