
<mat-card>
  <mat-card-header>
    <mat-card-title class="title">Users</mat-card-title>
  </mat-card-header>

  <mat-divider class="mb-3"></mat-divider>
  <mat-card-content>
    <app-users-list
      [responseUsers]="(usersList$ | async)"
      (detail) = "userDetail($event)"
      (changePage) = "changePage($event)"
    >

  </app-users-list>
  </mat-card-content>
</mat-card>
